<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pruebas de crud con PHP
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    
    <div class="example-button-container">
      <button mat-button (click)="getLogo()" color="primary" aria-label="Example icon button with a delete icon">
        Ver info 
      </button>
      <button mat-button (click)="addLogo()" color="primary" aria-label="Example icon button with a delete icon">
        Añadir logo
      </button>
    </div>

    <ion-card *ngFor="let l of logotipo">
      <ion-card-header>
        <ion-card-subtitle>Nombre del logo {{l.nombre}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <button mat-button (click)="getLogoById(l.id)">Buscar por id</button>
        <button mat-button (click)="deleteLogo(l.id)">  Eliminar por id</button>
        <button mat-button (click)="updateLogo(l.id)">  Actualizar por id</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
