<ion-header>
  <ion-toolbar>
   
      <ion-icon id="menuBtn" name="menu-outline" slot="start" (click)="toggleMenu()"></ion-icon>
 
  
    <ion-title>Página principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="container">
    <br/>
    <p>¿Qué desea hacer?</p>
    <div class="row">
      <button mat-button id="botones" (click)="goToNewInvoice()"><span id="texto">Nuevo encargo</span></button>
    </div>
    <div class="row">
      <button mat-button id="botones"><span id="texto">Validaciones</span></button>
    </div>
    <div class="row">
      <button mat-button id="botones"><span id="texto">Seguimiento de pedidos</span></button>
    </div>
    <div class="row">
      <button mat-button id="botones"><span id="texto">Historial de pedidos</span></button>
    </div>
    <div class="row">
      <button mat-button id="botones" (click)="goToCRUD()"><span id="texto">Mantenimiento de tablas</span></button>
    </div>
  </div>
</ion-content>