#botones{
    color: white;
    width: 10%;
    height: 6%;
    font-size: 25px;
  
  
}

.formulario{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.cliente{
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.articulo{
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    position: fixed;
}

#p{
    font-size: 25px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);;
}