#botones{
    color: white;
    width: 10%;
    height: 6%;
    font-size: 25px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p{
    font-size: 25px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);;
}