.example-chip-list {
    width: 100%;
  }

  #centeredChips{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }

  #centeredSpan{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
  }

  #botones{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 12%;
    height: 5%;
    border-radius: 40px;
    font-size: 30px;
    box-shadow: 5px, 5px, #000000;

  }

  #color{
      background: linear-gradient(to bottom, #A571FF,  #6B5D5D);
      color: white;
  }

  #logo{
    position: fixed;
    top: 93%;
    left: 95%;
    transform: translate(-50%, -50%);
      height: 8%;
      width: 5%;
  }