<ion-header>
  <ion-toolbar>
    <ion-icon id="menuBtn" name="menu-outline" slot="start" (click)="toggleMenu()"></ion-icon>
    <ion-title>Selecciona una prenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <span  id="centeredSpan">¿Qué prenda/s desea seleccionar?</span>
  <mat-form-field class="example-chip-list" id="centeredChips">
    <mat-label>Prendas a seleccionar</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip id="color"
        *ngFor="let prenda of prendas"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(prenda)">
        {{prenda}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Nueva prenda"
        #fruitInput
        
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let prenda of filteredPrendas | async" [value]="prenda">
        {{prenda}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-button id="botones" (click)="goToForm()">Siguiente</button>
  <img src="../../assets/icon/pixlr-bg-result.png" id="logo"/>
</ion-content>
