<ion-header>
  <ion-toolbar>
    <ion-title>Editar datos del cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-tab-group>
    <mat-tab label="Datos del cliente">
       <div class="container">
        <form [formGroup]="clientUpdateForm" (ngSubmit)="onFormSubmit()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input disabled="true"  formControlName="nombre" type="text" required></ion-input>
          </ion-item>
          <ion-item *ngIf="!isEmpresa">
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input disabled="true"  formControlName="apellidos" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input formControlName="telefono" type="text" required></ion-input>
          </ion-item>
          <ion-item *ngIf="!isEmpresa">
            <ion-label position="floating">NIF</ion-label>
            <ion-input disabled="true" formControlName="nif" type="text" required></ion-input>
          </ion-item>
          <ion-item *ngIf="isEmpresa">
            <ion-label position="floating">CIF</ion-label>
            <ion-input  disabled="true" formControlName="cif" type="text" required></ion-input>
          </ion-item>
          <ion-item *ngIf="!isEmpresa">
            <ion-label position="floating">E-mail</ion-label>
            <ion-input formControlName="email" type="email" required></ion-input>
          </ion-item>
         
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" shape="full" expand="block">Update Client</ion-button>
            
            </ion-col>
          </ion-row>
        </form>
       </div>
      </mat-tab>
    <mat-tab label="Dirección/es del cliente">
      <div class="mat-elevation-z8">
        <br/>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="formControlName, PlaceHolder" #input>
        </mat-form-field>
    
    
        <table mat-table [dataSource]="formulario">
      
          <ng-container matColumnDef="calle">
            <th mat-header-cell *matHeaderCellDef> Apartado </th>
            <td  *matCellDef="let form" (keyup)="changeValue($event)" (blur)="updateList(displayedColumns[0], form.id)" [contentEditable]="contentEditable" mat-cell > {{form.calle}} </td>
          </ng-container>
      
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Label </th>
            <td mat-cell *matCellDef="let form"  (keyup)="changeValue($event)" (blur)="updateList(displayedColumns[1], form.id)" [contentEditable]="contentEditable"> {{form.numero}} </td>
          </ng-container>
      
          <ng-container matColumnDef="municipio">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let form"  (keyup)="changeValue($event)" (blur)="updateList(displayedColumns[2], form.id)" [contentEditable]="contentEditable"> {{form.municipio}} </td>
          </ng-container>
      
          <ng-container matColumnDef="provincia">
            <th mat-header-cell *matHeaderCellDef> Form Control Name </th>
            <td mat-cell *matCellDef="let form" (keyup)="changeValue($event)" (blur)="updateList(displayedColumns[3], form.id)" [contentEditable]="contentEditable"> {{form.provincia}} </td>
          </ng-container>
    
          <ng-container matColumnDef="codigo_postal">
            <th mat-header-cell *matHeaderCellDef> Place Holder</th>
            <td mat-cell *matCellDef="let form" (keyup)="changeValue($event)" (blur)="updateList(displayedColumns[4], form.id)" [contentEditable]="contentEditable"> {{form.codigo_postal}} </td>
          </ng-container>
    
    
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Editar</th>
            <td mat-cell *matCellDef="let form"> 
  
              <button *ngIf="contentEditable == true" mat-button (click)="contentEditable = false"><mat-icon>check</mat-icon></button> 
              <button *ngIf="contentEditable == false" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  (click)="editar(form.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar dirección</span>
                </button>
                <button mat-menu-item (click)="eliminar(form.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar dirección</span>
                </button>
              </mat-menu>
    
            </td>
          </ng-container>
      
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encuentra ningún dato con: "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageIndex]=0 [length]="elements"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons  > 
        </mat-paginator>
      </div>

      
      </mat-tab>
    <mat-tab label="Logo/s del cliente">
       Content 3 
      </mat-tab>
  </mat-tab-group>

</ion-content>
