table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../../assets/icon/pixlr-bg-result.png');
    background-size: cover;
  }

#gridMargin{
  margin-left: 10%;

}