<ion-header>
  <ion-toolbar>
    <ion-title>boceto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="moveable app">
    <div class="container">
        <ngx-selecto
            #selecto
            dragContainer=".elements"
            [selectableTargets]='[".selecto-area .cube"]'
            [hitRate]='0'
            
            [selectByClick]='true'
            [selectFromInside]='false'
            [toggleContinueSelect]='["shift"]'
            [ratio]='0'
            (dragStart)="onDragStart($event)"
            (dragEnd)="onDragEnd($event)"
            (selectEnd)="onSelectEnd($event)"
        ></ngx-selecto>
        <ngx-moveable
            #moveable
            [draggable]='true'
            [target]='targets'
            [resizable]="true"
            [rotatable]='true'
            [throttleDragRotate]='0'
            (rotateStart)="onRotateStart($event)"
            [target]="target"
            [rotatable]='rotatable'
            [throttleRotate]='throttleRotate'
            [rotationPosition]='rotationPosition'
            [zoom]='zoom'
            [origin]='origin'
            [padding]='padding'
            (rotateStart)="onRotateStart($event)"
            (rotate)="onRotate($event)"
            [keepRatio]="true"
            [bounds]='{"left":40,"top":40,"right":600,"bottom":430}'
            [renderDirections]='["nw","n","ne","w","e","sw","s","se"]'
            [throttleResize]="0"
            (clickGroup)="onClickGroup($event)"
            (dragStart)="onMoveableDragStart($event)"
            (drag)="onDrag($event)"
            (dragGroupStart)="onDragGroupStart($event)"
            (dragGroup)="onDragGroup($event)"
            (resizeStart)="onResizeStart($event)"
            (resize)="onResize($event)"
           

        ></ngx-moveable>


      
        <div class="example-boundary"class="elements selecto-area " id="selecto1">
          <img style="position: absolute; display: block;   pointer-events: none;" src="{{src}}"/>
          <img #target style="position: absolute;"class="cube targets target"  src="http://localhost/crud_api/api/imagenes/07042021163936698374.png"  />
          <img style="position: absolute;" class="cube targets"  src="../../assets/icon/prueba.svg"  />
        </div>
        <div class="elements "></div>
    </div>



</div>
</ion-content>
